<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710954766183-7jggobe52r7u16lbv7fkesar9diotc3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710954766183-7jggobe52r7u16lbv7fkesar9diotc3t</string>
	<key>API_KEY</key>
	<string>AIzaSyB_7k9hsjG1Ns3mrrtZNidpozjiWcrCBlI</string>
	<key>GCM_SENDER_ID</key>
	<string>710954766183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.aait.asp.herag.awmer</string>
	<key>PROJECT_ID</key>
	<string>herag-c3758</string>
	<key>STORAGE_BUCKET</key>
	<string>herag-c3758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710954766183:ios:82cf806e152df9fb8569c2</string>
	<key>DATABASE_URL</key>
	<string>https://herag-c3758.firebaseio.com</string>
</dict>
</plist>